.cta_images_wrapper {
  width: 100%;
  display: block;
}

.cta_images_wrapper img {
  width: 100%;
  display: block;
}

.intrinsic_ratio_wrapper {
  position: relative;
  overflow: hidden;
  display: block;
}

.intrinsic_ratio_wrapper img {
  position: absolute;
}

.image_link_fallback {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
